# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Base de datos (datos sensibles o volátiles)
*.db
*.sqlite3

# Documentos generados (volátiles)
pdfs/

# Logs
sistema.log

# Archivos del sistema
.DS_Store
.ipynb_checkpoints/
